name: CI

on:
  push:
    paths-ignore:
      - '*.md'
      - 'LICENSE'
  pull_request:

env:
  DOCKER_BUILDKIT: 1

jobs:
  build_and_test:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y file unzip wget

      - name: Build debug
        run: docker build --build-arg build_type=Debug --target export --output build_debug .

      - name: Build release
        run: docker build --build-arg build_type=Release --target export --output build .

      - name: Test
        shell: bash
        run: |
          mv build_debug/wibo build/wibo_debug
          wget -q https://cdn.discordapp.com/attachments/727918646525165659/1129759991696457728/GC_WII_COMPILERS.zip
          unzip -q GC_WII_COMPILERS.zip
          set -x
          build/wibo_debug Wii/1.7/mwcceppc.exe -nodefaults -c test/test.c -Itest -o test_debug.o
          file test_debug.o
          build/wibo Wii/1.7/mwcceppc.exe -nodefaults -c test/test.c -Itest -o test.o
          file test.o

      - name: Upload release
        uses: actions/upload-artifact@v3
        with:
          name: wibo
          path: build/wibo

      - name: Upload debug
        uses: actions/upload-artifact@v3
        with:
          name: wibo_debug
          path: build/wibo_debug

      - name: Publish release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            build/wibo
            build/wibo_debug
